<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-text" style=" color: #dddddd;">
                    ca管理系统
                </h4>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 1%"><span style="color: #dddddd;">欢迎，{{.}}！</span> <a href="javascript:void(0)" onclick="logout()" class="navbar-link">退出</a></p>
        </div>
    </nav>

    <div style="width: 70%;margin: 0 auto">
        <table class="table table-bordered table-hover">
            <label>公钥</label>
            <textarea id="pubkey" class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制公钥</button>
        </table>

        <table class="table table-bordered table-hover">
            <label>私钥</label>
            <textarea id="privkey" class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制私钥</button>
        </table>

        <table class="table table-bordered table-hover">
            <label>证书请求</label>
            <textarea id="req" class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制证书请求</button>
        </table>
    </div>

</body>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "/onetouch",
            success: function(data) {
                //alert(data)
                data = JSON.parse(data)
                $("#pubkey").val(data[1])
                $("#privkey").val(data[0])
                $("#req").val(data[2])
            }
        });
    })
</script>

</html>