<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-text" style=" color: #dddddd;">
                    ca管理系统
                </h4>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 1%"><span style="color: #dddddd;">欢迎，{{.}}！</span> <a href="javascript:void(0)" onclick="logout()" class="navbar-link">退出</a></p>
        </div>
    </nav>

    <div style="width: 70%;margin: 0 auto">
        <table class="table table-bordered table-hover">
            <label>公钥</label>
            <textarea class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制公钥</button>
        </table>

        <table class="table table-bordered table-hover">
            <label>私钥</label>
            <textarea class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制私钥</button>
        </table>

        <table class="table table-bordered table-hover">
            <label>证书请求</label>
            <textarea class="form-control" rows="5"></textarea>
            <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">复制证书请求</button>
        </table>

        <!-- <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addip" style="background: #333333; color: #dddddd;">添加ip</button>
        <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;" id="removeIp">移除ip</button> -->
        <!-- <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">查看信息</button> -->
    </div>
    <!--添加ip 模态框（Modal） -->
    <div class="modal fade" id="addip" tabindex="-1" role="dialog" aria-labelledby="addipModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="addipModalLabel">
                        请填写ip相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="login">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="ipname" name="ipname" placeholder="名称">
                                <div id="errorcode_ipname">
                                    <span class="help-block">名称不能为空</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="ipstr" name="ipstr" placeholder="ip">
                                <div id="errorcode_ipstr">
                                    <span class="help-block" id="errortext_ipstr">ip不能为空</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" id="addipbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                        提交
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--申请证书 模态框（Modal） -->
    <div class="modal fade" id="reqcert" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        请填写证书相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="certForm" class="form-horizontal" enctype="multipart/form-data" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-3 control-label">证书名*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="notAfter" name="notAfter" placeholder="可以是任意不重复的字符，如：银行证书1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-3 control-label">证书有效期*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="notAfter" name="notAfter" placeholder="请输入证书有效期，如180">
                            </div>
                            <label for="lastname" class="col-sm-1 control-label">天</label>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">申请证书的ip*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="ipAddress" name="ipAddress" placeholder="若输入多个请用分号隔开，如10.1.1.1;10.2.2.2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pubKeyFile" class="col-sm-3 control-label">粘贴证书请求*</label>
                            <div class="col-sm-7">
                                <textarea class="form-control"></textarea>
                                <!-- <input type="text" id="pubKeyFile" name="pubKeyFile"> -->
                            </div>
                            <!-- <label for="inputfile" class="col-sm-4 control-label">没有文件?<a href="/static/tool.rar" download="tool.rar">下载工具</a></label> -->
                        </div>
                        <div class="form-group">
                            <label for="inputfile" class="col-sm-offset-3 col-sm-7 control-label">没有文件?<a href="/static/tool.rar" download="tool.rar">下载工具</a>或者<a target="view_window" href="genreatePage">一键生成</a></label>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">国家</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="country" name="country" placeholder="例如：china">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">公司名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="organization" name="organization" placeholder="例如：tjfoc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">域名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="commonName" name="commonName" placeholder="例如：test.example">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    <button type="button" id="easygenbtn" class="btn btn-default" data-dismiss="modal">
                                一键生成
                            </button>
                    <button type="button" id="commitreqcertbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                            提交
                        </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>

</html>