<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-text" style=" color: #dddddd;">
                    ca管理系统
                </h4>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 1%"><span style="color: #dddddd;">欢迎，{{.}}！</span> <a href="javascript:void(0)" onclick="changepassword()" class="navbar-link">修改密码</a>/<a href="javascript:void(0)" onclick="logout()" class="navbar-link">退出</a></p>
        </div>
    </nav>

    <div style="width: 70%;margin: 0 auto">
        <table class="table table-bordered table-hover">
            <caption>ip列表</caption>
            <thead>
                <tr>
                    <!-- <th class="col-sm-1"><input type="checkbox" id="selectAll">全选</th> -->
                    <th>证书名称</th>
                    <th>证书对应ip</th>
                    <th>申请时间</th>
                    <th>状态</th>
                    <th>审批人</th>
                    <th>审批时间</th>
                    <th>吊销人</th>
                    <th>吊销时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="certlist">
                <!-- <tr>
                    <td>银行证书1</td>
                    <td>10.1.1.1</td>
                    <td>2017年5月6号 9:00</td>
                    <td>待审核</td>
                    <td><button type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button></td>
                </tr>
                <tr>
                    <td>银行证书2</td>
                    <td>10.2.2.2</td>
                    <td>2017年5月6号 10:00</td>
                    <td>已于2017年5月9号通过审核</td>
                    <td>
                        <button type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button>
                        <button type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">下载</button>
                    </td>
                </tr>
                <tr>
                    <td>银行证书3</td>
                    <td>10.3.3.3</td>
                    <td>2017年5月6号 10:00</td>
                    <td>已于2017年5月9号被吊销</td>
                    <td>
                        <button type="button" class="btn btn-default" id="" style="background: #333333; color: #dddddd;">查看</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <button type="button" class="btn btn-default pull-right" id="reqcertbtn" style="background: #333333; color: #dddddd;">申请证书</button>
        <!-- <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addip" style="background: #333333; color: #dddddd;">添加ip</button>
        <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;" id="removeIp">移除ip</button> -->
        <!-- <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">查看信息</button> -->
    </div>
    <!--查看证书 模态框（Modal） -->
    <div class="modal fade" id="watchcertmodel" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        查看证书相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="certName" class="col-sm-3 control-label">证书名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcertName" name="watchcertName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notAfter" class="col-sm-3 control-label">证书失效日期</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchnotAfter" name="watchnotAfter" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">申请证书的ip</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchipAddress" name="watchipAddress" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">国家</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcountry" name="watchcountry" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">公司名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchorganization" name="watchorganization" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">域名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcommonName" name="watchcommonName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">证书状态</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchstate" name="watchstate" readonly="readonly">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                    <button type="button" id="commitreqcertbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                    提交
                                </button>
                    <button type="button" id="easygenbtn" class="btn btn-default pull-left" data-toggle="tooltip" data-placement="bottom" title="此操作私钥由服务器生成">
                            一键生成
                                </button>

                </div> -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--申请证书 模态框（Modal） -->
    <div class="modal fade" id="reqcert" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        请填写证书相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="certForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="certName" class="col-sm-3 control-label">证书名*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="certName" name="certName" placeholder="可以是任意不重复的字符，如：银行证书1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notAfter" class="col-sm-3 control-label">证书有效期*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="notAfter" name="notAfter" placeholder="请输入证书有效期，如180">
                            </div>
                            <label class="col-sm-1 control-label">天</label>
                        </div>
                        <div class="form-group">
                            <label for="ipAddress" class="col-sm-3 control-label">申请证书的ip*</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="ipAddress" name="ipAddress" placeholder="若输入多个请用分号隔开，如10.1.1.1;10.2.2.2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reqcertxt" class="col-sm-3 control-label">粘贴证书请求*</label>
                            <div class="col-sm-7">
                                <textarea id="reqcertxt" name="reqcertxt" class="form-control"></textarea>
                                <!-- <input type="text" id="pubKeyFile" name="pubKeyFile"> -->
                            </div>
                            <!-- <label for="inputfile" class="col-sm-4 control-label">没有文件?<a href="/static/tool.rar" download="tool.rar">下载工具</a></label> -->
                        </div>
                        <div class="form-group">
                            <label for="inputfile" class="col-sm-offset-3 col-sm-7 control-label">没有文件?<a href="/static/tool.rar" download="tool.rar">下载工具</a>或者<a target="view_window" href="genreatePage">在线生成</a></label>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">国家</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="country" name="country" placeholder="例如：china">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">公司名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="organization" name="organization" placeholder="例如：tjfoc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">域名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="commonName" name="commonName" placeholder="例如：test.example">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    <button type="button" id="commitreqcertbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                提交
                            </button>
                    <!-- <button type="button" id="easygenbtn" class="btn btn-default pull-left" data-toggle="tooltip" data-placement="bottom" title="此操作私钥由服务器生成">
                        一键生成
                            </button> -->

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--修改密码 模态框（Modal） -->
    <div class="modal fade" id="changepwdModle" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        请账号密码相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="changepwdForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="accountId" class="col-sm-3 control-label">账号名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="accountId" name="accountId" readonly="readonly" value="{{.}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notAfter" class="col-sm-3 control-label">原密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="oldpwd" name="oldpwd" placeholder="请输入该账号原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ipAddress" class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="请输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reqcertxt" class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="checknewpwd" name="checknewpwd" placeholder="请再次输入新密码">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="commitpwd" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                    确认修改
                                </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</body>
<script>
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });

    function logout() {
        $.ajax({
            type: "POST",
            url: "/logout",
            success: function(data) {
                window.location.href = "login"
            }
        })
    }

    function changepassword() {
        $("#changepwdModle").modal("show")
    }
    $("#commitpwd").click(function() {
        var newpwd = $("#newpwd").val()
        var checknewpwd = $("#checknewpwd").val()
        if (newpwd != checknewpwd) {
            alert("新密码两次输入不一致！")
        } else {
            $.ajax({
                type: "POST",
                url: "/changepwd",
                processData: false,
                contentType: false,
                data: new FormData($('#changepwdForm')[0]),
                success: function(data) {
                    alert(data)
                    if (data == "修改成功，请重新登录") {
                        window.location.href = "login"
                    }

                }
            })
        }

    })
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "/certlist",
            success: function(data) {
                var con = ""
                data = JSON.parse(data)
                    //alert(data)
                $.each(data, function(index, item) {
                    con += "<tr><td>" + item.certname + "</td>"
                    con += "<td>" + item.ipstr + "</td>"
                    con += "<td>" + item.reqdate + "</td>"
                    con += "<td>" + item.state + "</td>"
                    con += "<td>" + item.approver + "</td>"
                    con += "<td>" + item.approvaldate + "</td>"
                    con += "<td>" + item.revoker + "</td>"
                    con += "<td>" + item.revokedate + "</td>"
                    if (item.state == "待审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button>'
                    } else if (item.state == "已审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button>'
                        con += '<button type="button" class="btn btn-default " id="' + item.id + '" name="downloadcert" style="background: #333333; color: #dddddd;">下载</button>'
                    } else if (item.state == "已吊销") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button>'
                    } else if (item.state == "已驳回") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">查看</button>'
                    }
                    con += "</td></tr>"
                        //alert(item.ipStr + index)
                });
                $("#certlist").append(con)
            }
        });
    });
    //     $("#errorcode_ipname").hide()
    //     $("#errorcode_ipstr").hide()
    //     $("#selectAll").click(function() {
    //         var allcheck = $(this).prop("checked")
    //         var check = $("input[name='iplistcheckbox']").prop("checked", allcheck)
    //     })
    $("tbody").on('click', "[name='downloadcert']", function() {
        // alert($(this).attr("id"))
        window.location.href = "downloadcert?certId=" + $(this).attr("id")
    });
    $("tbody").on('click', "[name='watchcert']", function() {
        var certId = $(this).attr("id")
        $.ajax({
            type: "POST",
            url: "/showcertInfo",
            data: {
                id: certId,
            },
            success: function(data) {
                data = JSON.parse(data)
                $("#watchcertName").val(data.CertName)
                $("#watchipAddress").val(data.IpAdderss)
                $("#watchnotAfter").val(data.CertDay)
                $("#watchcountry").val(data.Country)
                $("#watchorganization").val(data.Organization)
                $("#watchcommonName").val(data.CommonName)
                $("#watchstate").val(data.State)
                $("#watchcertmodel").modal("show")
            }
        });
    });
    //     $("#removeIp").click(function() {
    //         var check = $("input[name='iplistcheckbox']:checked")
    //         if (check.length == 0) {
    //             alert("请选中至少一条记录")
    //         } else {
    //             for (var index = 0; index < check.length; index++) {
    //                 //alert($(check[index]).attr("id"))
    //                 var id = $(check[index]).attr("id")
    //                 $.ajax({
    //                     type: "POST",
    //                     url: "/removeip",
    //                     data: {
    //                         id: id,
    //                     },
    //                     success: function(data) {}
    //                 });
    //             }
    //             alert("移除成功")
    //             window.location.reload()
    //         }

    //     })
    //     $("#addipbtn").click(function() {
    //         var ipname = $("#ipname").val()
    //         var ipstr = $("#ipstr").val()
    //         if (ipname == "") {
    //             $("#errorcode_ipname").show()
    //             $("#errorcode_ipname").parent().addClass("has-error has-feedback")
    //         } else {
    //             $("#errorcode_ipname").hide()
    //             $("#errorcode_ipname").parent().removeClass("has-error has-feedback")
    //             if (ipstr == "") {
    //                 $("#errorcode_ipstr").show()
    //                 $("#errortext_ipstr").text("ip地址不能为空")
    //                 $("#errorcode_ipstr").parent().addClass("has-error has-feedback")
    //             } else {
    //                 if (!isValidIP(ipstr)) {
    //                     $("#errorcode_ipstr").show()
    //                     $("#errorcode_ipstr").parent().addClass("has-error has-feedback")
    //                     $("#errortext_ipstr").text("ip地址格式有错误")
    //                 } else {
    //                     $("#errorcode_ipstr").hide()
    //                     $("#errorcode_ipstr").parent().removeClass("has-error has-feedback")
    //                     $.ajax({
    //                         type: "POST",
    //                         url: "/addip",
    //                         data: {
    //                             ipname: ipname,
    //                             ipstr: ipstr
    //                         },
    //                         success: function(data) {
    //                             alert("添加成功")
    //                             window.location.reload()
    //                         }
    //                     });
    //                 }
    //             }
    //         }
    //     }) -->
    $("#reqcertbtn").click(function() {
        // var check = $("input[name='iplistcheckbox']:checked")
        // if (check.length == 0) {
        //     alert("请选中至少一条记录")
        // } else {
        // var tdtext = ""
        // for (var index = 0; index < check.length; index++) {
        //     //alert($(check[index]).attr("id"))
        //     tdtext += $(check[index]).parent().next().next().text() + ","
        // }
        // tdtext = tdtext.substring(0, tdtext.length - 1)
        // $("#ipAddress").val(tdtext)
        $("#reqcert").modal("show")
            // }
    })
    $("#commitreqcertbtn").click(function() {
        var CertName = $("#certName").val()
        var NotAfter = $("#notAfter").val()
        var IpAddress = $("#ipAddress").val()
        var Reqcertxt = $('#reqcertxt').val()
        if (CertName == "") {
            alert("证书名不能为空")
        } else if (NotAfter == "") {
            alert("有效期不能为空")
        } else if (IpAddress == "") {
            alert("ip不能为空")
        } else if (Reqcertxt == "") {
            alert("证书请求不能为空")
        } else {
            $.ajax({
                url: '/reqcert',
                type: 'POST',
                processData: false,
                contentType: false,
                data: new FormData($('#certForm')[0]),
                success: function(data) {
                    alert("申请成功，等待审批！")
                        //alert(data)
                        // var link = document.createElement('a')
                        // link.setAttribute("download", "")
                        // link.href = data
                        // link.click()
                    window.location.reload()
                        // window.open("conf/cert.pem")
                }
            });
        }
    })
    $("#easygenbtn").click(function() {
        var ipAddress = $("#ipAddress").val()
        if (ipAddress == "") {
            alert("申请证书的ip不能为空！")
        } else {
            var ips = ipAddress.split(";")
            for (let index = 0; index < ips.length; index++) {
                alert(ips[index])
                if (!isValidIP(ips[index])) {
                    alert("ip格式错误，" + ips[index] + "不是正确的ip格式！")
                    return
                }
            }
            $.ajax({
                url: '/easygen',
                type: 'POST',
                data: {
                    ipAddress: ipAddress
                },
                success: function(data) {
                    alert("生成成功")
                    var link = document.createElement('a')
                    link.setAttribute("download", "")
                    link.href = "conf/" + ipAddress + ".zip"
                    link.click()
                        // window.open("conf/cert.pem")
                }
            });
        }
    })

    function isValidIP(ip) {
        var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
        return reg.test(ip);
    }
</script>

</html>