<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    .dropdown-menu::before {
        content: '';
        display: inline-block;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 12px solid #CCC;
        position: absolute;
        top: -13px;
        left: 117px;
    }
    
    .dropdown-menu::after {
        content: '';
        display: inline-block;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
        left: 117px;
    }
    
    th,
    td {
        vertical-align: middle;
        text-align: center;
    }
    /* a {
        text-decoration: none;
        out-line: none;
        color: #1c294b
    }
    
    a:hover {
        color: red;
        text-decoration: underline;
    } */
    /* li {
        display: block;
        background: green;
    } */
</style>

<body style="background: #f6f6f6">
    <nav class="navbar" style="background: #1c294b ;">
        <div class="container-fluid">
            <div class="navbar-header">
                <div style="height:68px; margin-top: 26px; margin-left: 50%">
                    <img src="/static/img/logo.png">
                </div>
            </div>
            <div style="margin-top: 13px">
                <div class="navbar-text navbar-right" style="margin-right:7%">
                    <span style="color: #dddddd;">你好，{{.}}!</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" data-toggle="dropdown"><img src="/static/img/用户.png"></a>
                    <!--<a href="javascript:void(0)" onclick="logout()" class="navbar-link">退出</a>-->
                    <ul class="dropdown-menu" style="margin:0;padding:0;margin-right: 7%; background-size: 10px; ">
                        <li>
                            <a href="javascript:void(0)" onclick="logout()" style="height: 50px; width: 160px; text-align:center;vertical-align: middle;display: table-cell;"><img src="/static/img/修改密码.png" style="width: 20px">&nbsp;&nbsp;&nbsp;修改密码</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="logout()" style="height: 50px; width: 160px; text-align:center;vertical-align: middle;display: table-cell;"><img src="/static/img/退出登录black.png" style="width: 20px">&nbsp;&nbsp;&nbsp;退出登录</a>
                        </li>
                    </ul>
                </div>






            </div>


        </div>
    </nav>
    <div style="width: 70%;margin: 0 auto; ">
        <img class="pull-left" src="/static/img/位置.png">
        <span class="pull-left" style="font-size:x-large;margin-left: 5px">CA管理系统</span>
    </div>
    <div style="width: 70%;margin: 0 auto;background: #ffffff;margin-top: 65px">


        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#certMG" data-toggle="tab" style="border-left-color: transparent;">
                             证书管理
                </a>
            </li>
            <li><a href="#accountMG" data-toggle="tab">账号管理</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="certMG">
                <div style="height: 100px;border-bottom: 1px solid #ddd">
                    <label class="pull-left " for=" name " style="margin-left: 3%;margin-top: 3%;">筛选</label>
                    <div class="col-sm-11" style="margin-left: 2%;margin-top: 2.5%">
                        <select class="form-control" onchange="selectState(this)">
                            <option value="全部">全部</option>
                            <option value="待审批">待审批</option>
                            <option value="已审批">已审批</option>
                            <option value="已吊销">已吊销</option>
                            <option value="已驳回">已驳回</option>
                        </select>
                    </div>
                </div>
                <div style="width: 96%;margin: 0 auto;">
                    <label style="margin-top: 20px">证书列表</label>
                    <table class="table table-hover" style="margin-top: 16px">
                        <thead>
                            <tr style="background: #f4f4f4;height:80px">
                                <!-- <th class="col-sm-1"><input type="checkbox" id="certselectAll">全选</th> -->
                                <th><span style="margin-bottom: 50px">申请账号</span></th>
                                <th>所属组织机构</th>
                                <th>证书</th>
                                <th>证书对应ip</th>
                                <th>申请时间</th>
                                <th>状态</th>
                                <th>审批人</th>
                                <th>审批时间</th>
                                <th>吊销人</th>
                                <th>吊销时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="certlist">

                        </tbody>
                    </table>
                </div>
                <!-- <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">查看证书</button> -->
                <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;" id="crlbtn">下载吊销证书文件</button>
            </div>
            <div class="tab-pane fade" id="accountMG">
                <table class="table table-bordered table-hover">
                    <caption>账号列表</caption>
                    <thead>
                        <tr>
                            <th class="col-sm-1"><input type="checkbox" id="accselectAll">全选</th>
                            <th>账号</th>
                            <th>所属组织机构</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="accountlist">
                        <!-- <tr>
                            <td><input type="checkbox"></td>
                            <td>张三</td>
                            <td>宝武</td>
                            <td><button type="button" class="btn btn-default" style="background: #333333; color: #dddddd;" id="removeAccount">修改密码</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>张三</td>
                            <td>宝武</td>
                            <td><button type="button" class="btn btn-default" style="background: #333333; color: #dddddd;" id="removeAccount">修改密码</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>张三</td>
                            <td>宝武</td>
                            <td><button type="button" class="btn btn-default" style="background: #333333; color: #dddddd;" id="removeAccount">修改密码</button></td>
                        </tr> -->
                    </tbody>
                </table>
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addaccount" style="background: #333333; color: #dddddd;">添加账号</button>
                <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;" id="removeAccount">删除账号</button>
            </div>
        </div>
    </div>
    <!--添加账户 模态框（Modal） -->
    <div class="modal fade" id="addaccount" tabindex="-1" role="dialog" aria-labelledby="addipModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                    <h4 class="modal-title" id="addipModalLabel">
                        请填写账户信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="accountId" name="accountId" placeholder="请输入账号名">
                                <div id="errorcode_accountId">
                                    <span class="help-block">账号名不能为空</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="organization" name="organization" placeholder="请输入组织机构名称">
                                <!-- <div id="errorcode_newpassword2">
                                    <span class="help-block" id="errortext_newpassword2">组织机构不可为空</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="请输入密码">
                                <div id="errorcode_newpassword">
                                    <span class="help-block" id="errortext_newpassword">密码不能为空</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="请再次输入密码">
                                <div id="errorcode_newpassword2">
                                    <span class="help-block" id="errortext_newpassword2">两次密码不一致</span>
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    <button type="button" id="addaccoountbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                            提交
                        </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--查看证书 模态框（Modal） -->
    <div class="modal fade" id="watchcertmodel" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        查看证书相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="certName" class="col-sm-3 control-label">证书名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcertName" name="watchcertName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notAfter" class="col-sm-3 control-label">证书失效日期</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchnotAfter" name="watchnotAfter" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">申请证书的ip</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchipAddress" name="watchipAddress" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">国家</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcountry" name="watchcountry" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">公司名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchorganization" name="watchorganization" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">域名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchcommonName" name="watchcommonName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">证书状态</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="watchstate" name="watchstate" readonly="readonly">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                    <button type="button" id="commitreqcertbtn" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                    提交
                                </button>
                    <button type="button" id="easygenbtn" class="btn btn-default pull-left" data-toggle="tooltip" data-placement="bottom" title="此操作私钥由服务器生成">
                            一键生成
                                </button>

                </div> -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--审批证书 模态框（Modal） -->
    <div class="modal fade" id="aprovcertmodel" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        证书相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="certName" class="col-sm-3 control-label">证书名</label>
                            <div class="col-sm-7">
                                <input type="hidden" id="certid" name="certid">
                                <input type="text" class="form-control" id="aprovcertName" name="aprovcertName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notAfter" class="col-sm-3 control-label">证书失效日期</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovnotAfter" name="aprovnotAfter" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">申请证书的ip</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovipAddress" name="aprovipAddress" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">国家</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovcountry" name="aprovcountry" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">公司名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovorganization" name="aprovorganization" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">域名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovcommonName" name="aprovcommonName" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">证书状态</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="aprovstate" name="aprovstate" readonly="readonly">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="reject">
                               驳回
                            </button>
                    <button type="button" id="aprove" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                    通过
                                </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--修改密码 模态框（Modal） -->
    <div class="modal fade" id="changepwdModle" tabindex="-1" role="dialog" aria-labelledby="reqcertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                    <h4 class="modal-title" id="reqcertModalLabel">
                        请账号密码相关信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="changepwdForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="accountId" class="col-sm-3 control-label">账号名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="cgaccountId" name="cgaccountId" readonly="readonly" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ipAddress" class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="请输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reqcertxt" class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="checknewpwd" name="checknewpwd" placeholder="请再次输入新密码">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="commitpwd" class="btn btn-primary" style="background: #333333; color: #dddddd;">
                                    确认修改
                                </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</body>
<script>
    function logout() {
        $.ajax({
            type: "POST",
            url: "/logout",
            success: function(data) {
                window.location.href = "login"
            }
        })
    }
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "/accountlist",
            success: function(data) {
                // alert(data)
                var con = ""
                data = JSON.parse(data)
                    //alert(data)
                $.each(data, function(index, item) {
                    con += "<tr><td><input type='checkbox' name='accountlistcheckbox' id='" + item.Id + "'></td>"
                    con += " <td>" + item.accountId + "</td>"
                    con += " <td>" + item.organization + "</td>"
                    con += '<td><button type="button" class="btn btn-default" style="background: #333333; color: #dddddd;" onclick="changepassword(\'' + item.accountId + '\')">修改密码</button></td></tr>'
                        //alert(item.ipStr + index)
                });
                //alert(con)
                $("#accountlist").append(con)
            }
        });
    });
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "/ca_certlist",
            success: function(data) {
                var con = ""
                data = JSON.parse(data)
                    //alert(data)
                $.each(data, function(index, item) {
                    con += "<tr><td>" + item.accountId + "</td>"
                    con += "<td>" + item.organization + "</td>"
                    con += "<td>" + item.certname + "</td>"
                    con += "<td>" + item.ipstr + "</td>"
                    con += "<td>" + item.reqdate + "</td>"
                    con += "<td>" + item.state + "</td>"
                    con += "<td>" + item.approver + "</td>"
                    con += "<td>" + item.approvaldate + "</td>"
                    con += "<td>" + item.revoker + "</td>"
                    con += "<td>" + item.revokedate + "</td>"
                    if (item.state == "待审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " style="background: #333333; color: #dddddd;">查看</button>'
                        con += '<button id="' + item.id + '" name="aprovcertbtn" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">审批</button>'
                    } else if (item.state == "已审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " style="background: #333333; color: #dddddd;">查看</button>'
                        con += '<button id="' + item.id + '" type="button" class="btn btn-default " name="revokecert" style="background: #333333; color: #dddddd;">吊销</button>'
                        con += '<button id="' + item.id + '" name ="downloadcert" type="button" class="btn btn-default " id="" style="background: #333333; color: #dddddd;">下载</button>'
                    } else if (item.state == "已吊销") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">查看</button>'
                    } else if (item.state == "已驳回") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">查看</button>'
                    }
                    con += "</td></tr>"
                        //alert(item.ipStr + index)
                });
                $("#certlist").append(con)
            }
        });
    });
    $("tbody").on('click', "[name='watchcert']", function() {
        var certId = $(this).attr("id")
        $.ajax({
            type: "POST",
            url: "/showcertInfo",
            data: {
                id: certId,
            },
            success: function(data) {
                data = JSON.parse(data)
                $("#watchcertName").val(data.CertName)
                $("#watchipAddress").val(data.IpAdderss)
                $("#watchnotAfter").val(data.CertDay)
                $("#watchcountry").val(data.Country)
                $("#watchorganization").val(data.Organization)
                $("#watchcommonName").val(data.CommonName)
                $("#watchstate").val(data.State)
                $("#watchcertmodel").modal("show")
            }
        });
    });
    $("tbody").on('click', "[name='revokecert']", function() {
        var certId = $(this).attr("id")
        $.ajax({
            type: "POST",
            url: "/revokecert",
            data: {
                id: certId,
            },
            success: function(data) {
                alert("吊销成功")
                window.location.reload()
            }
        });
    });
    $("tbody").on('click', "[name='aprovcertbtn']", function() {
        var certId = $(this).attr("id")
        $.ajax({
            type: "POST",
            url: "/showcertInfo",
            data: {
                id: certId,
            },
            success: function(data) {
                data = JSON.parse(data)
                $("#aprovcertName").val(data.CertName)
                $("#certid").val(certId)
                $("#aprovipAddress").val(data.IpAdderss)
                $("#aprovnotAfter").val(data.CertDay)
                $("#aprovcountry").val(data.Country)
                $("#aprovorganization").val(data.Organization)
                $("#aprovcommonName").val(data.CommonName)
                $("#aprovstate").val(data.State)
                $("#aprovcertmodel").modal("show")
            }
        });
    });
    $("#commitpwd").click(function() {
        var newpwd = $("#newpwd").val()
        var checknewpwd = $("#checknewpwd").val()
        if (newpwd != checknewpwd) {
            alert("新密码两次输入不一致！")
        } else {
            $.ajax({
                type: "POST",
                url: "/changepwd_ca",
                processData: false,
                contentType: false,
                data: new FormData($('#changepwdForm')[0]),
                success: function(data) {
                    alert(data)
                    window.location.reload()
                        // if (data == "修改成功，请重新登录") {
                        //     window.location.href = "login"
                        // }

                }
            })
        }

    })
    $("#aprove").click(function() {
        var certId = $("#certid").val()
        $.ajax({
            type: "POST",
            url: "/aprovecert",
            data: {
                id: certId,
            },
            success: function(data) {
                alert("审批成功")
                window.location.reload()
            }
        });
    })
    $("#reject").click(function() {
        var certId = $("#certid").val()
        $.ajax({
            type: "POST",
            url: "/rejectcert",
            data: {
                id: certId,
            },
            success: function(data) {
                alert("驳回成功")
                window.location.reload()
            }
        });
    })

    function selectState(selector) {
        var selected = $(selector).val()
        $("#certlist").html("")
        $.ajax({
            type: "POST",
            data: {
                selected: selected,
            },
            url: "/select_certlist",
            success: function(data) {
                var con = ""
                data = JSON.parse(data)
                    //alert(data)
                $.each(data, function(index, item) {
                    con += "<tr><td>" + item.accountId + "</td>"
                    con += "<td>" + item.organization + "</td>"
                    con += "<td>" + item.certname + "</td>"
                    con += "<td>" + item.ipstr + "</td>"
                    con += "<td>" + item.reqdate + "</td>"
                    con += "<td>" + item.state + "</td>"
                    con += "<td>" + item.approver + "</td>"
                    con += "<td>" + item.approvaldate + "</td>"
                    con += "<td>" + item.revoker + "</td>"
                    con += "<td>" + item.revokedate + "</td>"
                    if (item.state == "待审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " style="background: #333333; color: #dddddd;">查看</button>'
                        con += '<button id="' + item.id + '" name="aprovcertbtn" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">审批</button>'
                    } else if (item.state == "已审批") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default " style="background: #333333; color: #dddddd;">查看</button>'
                        con += '<button id="' + item.id + '" type="button" class="btn btn-default " name="revokecert" style="background: #333333; color: #dddddd;">吊销</button>'
                        con += '<button id="' + item.id + '" name ="downloadcert" type="button" class="btn btn-default " style="background: #333333; color: #dddddd;">下载</button>'
                    } else if (item.state == "已吊销") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">查看</button>'
                    } else if (item.state == "已驳回") {
                        con += '<td><button id="' + item.id + '" name="watchcert" type="button" class="btn btn-default "  style="background: #333333; color: #dddddd;">查看</button>'
                    }
                    con += "</td></tr>"
                        //alert(item.ipStr + index)
                });
                $("#certlist").append(con)
            }
        });

    }
    $("#errorcode_accountId").hide()
    $("#errorcode_newpassword").hide()
    $("#errorcode_newpassword2").hide()
    $("#addaccoountbtn").click(function() {
        var accountId = $("#accountId").val()
        var organization = $("#organization").val()
        var newpassword = $("#newpassword").val()
        var newpassword2 = $("#newpassword2").val()
        if (accountId == "") {
            $("#errorcode_accountId").show()
            $("#errorcode_accountId").parent().addClass("has-error has-feedback")
        } else {
            $("#errorcode_accountId").hide()
            $("#errorcode_accountId").parent().removeClass("has-error has-feedback")
            if (newpassword == "") {
                $("#errorcode_newpassword").show()
                $("#errorcode_newpassword").parent().addClass("has-error has-feedback")
            } else {
                $("#errorcode_newpassword").hide()
                $("#errorcode_newpassword").parent().removeClass("has-error has-feedback")
                if (newpassword2 == "") {
                    $("#errorcode_newpassword2").show()
                    $("#errorcode_newpassword2").parent().addClass("has-error has-feedback")
                    $("#errortext_newpassword2").text("确认密码不可为空")
                } else if (newpassword2 != newpassword) {
                    $("#errorcode_newpassword2").show()
                    $("#errorcode_newpassword2").parent().addClass("has-error has-feedback")
                    $("#errortext_newpassword2").text("两次输入的密码不一致")
                } else {
                    $("#errorcode_newpassword2").hide()
                    $("#errorcode_newpassword2").parent().removeClass("has-error has-feedback")
                    $.ajax({
                        type: "POST",
                        url: "/addaccount",
                        data: {
                            accountId: accountId,
                            accountPassword: newpassword,
                            organization: organization
                        },
                        success: function(data) {
                            alert("添加成功")
                            window.location.reload()
                        }
                    });
                }
            }
        }
    })
    $("#accselectAll").click(function() {
        var allcheck = $(this).prop("checked")
        var check = $("input[name='accountlistcheckbox']").prop("checked", allcheck)
    })
    $("#certselectAll").click(function() {
        var allcheck = $(this).prop("checked")
        var check = $("input[name='certlistcheckbox']").prop("checked", allcheck)
    })
    $("tbody").on('click', "[name='downloadcert']", function() {
        // alert($(this).attr("id"))
        window.location.href = "downloadcert?certId=" + $(this).attr("id")
    });
    $("tbody").on('click', "[name='accountlistcheckbox']", function() {
        var checkAll = $("#accselectAll").prop("checked")
        var check = $("input[name='accountlistcheckbox']")
        var checknum = 0
            //  alert(check.length)
        for (var index = 0; index < check.length; index++) {
            //alert($(check[index]).prop("checked"))
            if (checkAll != $(check[index]).prop("checked")) {
                $("#accselectAll").prop("checked", false)
            }
            if ($(check[index]).prop("checked") == true) {
                checknum++
            }
        }
        if (checknum == check.length) {
            $("#accselectAll").prop("checked", true)
        }
    });
    $("tbody").on('click', "[name='certlistcheckbox']", function() {
        var checkAll = $("#certselectAll").prop("checked")
        var check = $("input[name='certlistcheckbox']")
        var checknum = 0
            //  alert(check.length)
        for (var index = 0; index < check.length; index++) {
            //alert($(check[index]).prop("checked"))
            if (checkAll != $(check[index]).prop("checked")) {
                $("#certselectAll").prop("checked", false)
            }
            if ($(check[index]).prop("checked") == true) {
                checknum++
            }
        }
        if (checknum == check.length) {
            $("#certselectAll").prop("checked", true)
        }
    });
    $("#removeAccount").click(function() {
        var check = $("input[name='accountlistcheckbox']:checked")
        if (check.length == 0) {
            alert("请选中至少一条记录")
        } else {
            for (var index = 0; index < check.length; index++) {
                // alert($(check[index]).attr("id"))
                var id = $(check[index]).attr("id")
                $.ajax({
                    type: "POST",
                    url: "/removeaccount",
                    data: {
                        id: id,
                    },
                    success: function(data) {}
                });
            }
            alert("删除成功")
            window.location.reload()
        }
    })
    $("#crlbtn").click(function() {
        $.ajax({
            type: "POST",
            url: "/createcrl",
            success: function(data) {
                //alert("吊销成功")
                var link = document.createElement('a')
                link.setAttribute("download", "")
                link.href = "conf/crl.pem"
                link.click()
                window.location.reload()
            }
        });
    })

    function changepassword(accoutid) {
        $("#cgaccountId").val(accoutid)
        $("#changepwdModle").modal("show")
    }
</script>

</html>