<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-text" style=" color: #dddddd;">
                    ca管理系统
                    </h>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 1%"><span style="color: #dddddd;">欢迎，管理员！</span> <a href="#" class="navbar-link">退出</a></p>
        </div>
    </nav>
    <div style="width: 70%;margin: 0 auto">
        <table class="table table-bordered table-hover">
            <caption>ip列表</caption>
            <thead>
                <tr>
                    <th class="col-sm-1"><input type="checkbox">全选</th>
                    <th>名称</th>
                    <th>ip</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>银行节点1</td>
                    <td>10.1.1.1</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>银行节点2</td>
                    <td>10.2.2.2</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>银行节点3</td>
                    <td>10.3.3.3</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#reqcert" style="background: #333333; color: #dddddd;">申请证书</button>
        <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">添加ip</button>
        <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">移除ip</button>
        <button type="button" class="btn btn-default pull-right" style="background: #333333; color: #dddddd;">查看信息</button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="reqcert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        模态框（Modal）标题
                    </h4>
                </div>
                <div class="modal-body">
                    点击关闭按钮检查事件功能。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>

</html>