<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CA管理系统</title>
    <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    body,
    html {
        text-align: center;
    }
</style>

<body style="background-image: url('static/img/background.jpg');">
    <div style="width:460px; height:380px;margin-top: 276px;margin-left: 976px;padding-top: 60px;padding-left: 40px;padding-right: 65px">
        <h3>CA管理系统</h3>
        <form class="form-horizontal" action="login" style="margin-top: 40px">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入账号" style=" padding-left: 60px;height: 45px; background-image: url('/static/img/账号.png');background-size: 24px;background-repeat: no-repeat;background-position:4%;">

                </div>
                <div id="errorcode_username">
                    <span class="help-block">账号不能为空</span>
                    <!-- <span class="glyphicon glyphicon-remove form-control-feedback"></span> -->
                </div>
            </div>
            <div class="form-group ">
                <div class="col-sm-12">
                    <!-- <span class="input-group-addon" style="background: #ffffff"><img style="height: 30px;" src="/static/img/密码.png"></span> -->
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" style=" padding-left: 60px;height: 45px; background-image: url('/static/img/密码.png');background-size: 24px; background-repeat: no-repeat;background-position:4%;">

                </div>
                <div id="errorcode_password">
                    <span class="help-block">密码不能为空</span>
                    <!-- <span class="glyphicon glyphicon-remove form-control-feedback"></span> -->
                </div>
            </div>
            <div class="form-group" style="margin-top: 45px">
                <div class="col-sm-12">
                    <button id="loginbtn" type="button" class="btn form-control" style="height: 45px; background: #1082ed; color: #ffffff;">登录</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    $("body").keydown(function() {
        if (event.keyCode == "13") { //keyCode=13是回车键
            $('#loginbtn').click();
        };
    });

    $("#errorcode_username").hide()
    $("#errorcode_password").hide()
    $("#loginbtn").click(function() {
        var username = $("#username").val()
        var password = $("#password").val()
        if (username == "") {
            $("#errorcode_username").show()
            $("#errorcode_username").parent().addClass("has-error has-feedback")
        } else {
            $("#errorcode_username").hide()
            $("#errorcode_username").parent().removeClass("has-error has-feedback")
        }
        if (password == "") {
            $("#errorcode_password").show()
            $("#errorcode_password").parent().addClass("has-error has-feedback")
        } else {
            $("#errorcode_password").hide()
            $("#errorcode_password").parent().removeClass("has-error has-feedback")
        }
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                username: username,
                password: password
            },
            success: function(data) {
                // alert(data)
                if (data == "账号或者密码错误") {
                    alert(data)
                } else {
                    if (data == "99") {
                        window.location.href = "index_ca"
                    } else {
                        window.location.href = "index_peer"
                    }
                }
            }
        });
    })
</script>

</html>